@import "../../stylesheet/variables";
@import '../../stylesheet/theme';


// .gio-btn{
//   font-family: "PingFang SC";
//   font-size: 14px;
//   font-weight: 400;
//   color: #FFFFFF;
//   &.gio-btn-with-bg{
//     &.large{
//       padding: 0px 20px;
//       height: 32px;
//     }
//     &.middle{
//       padding: 0px 15px;
//       height: 30px;
//     }
//     &.small{
//       padding: 0px 10px;
//       height: 28px;
//     }
//     &.gio-btn-primary{
//       &:hover{

//       }
//       &:active{
        
//       }
//     }
//     &.gio-btn-secondary{
//       &:hover{

//       }
//       &:active{
        
//       }
//     }
//     &.gio-btn-subtle{
//       &.large{
//         padding: 0px 15px;
//       }
//       &:hover{

//       }
//       &:active{
        
//       }
//     }
//     &.disabled{
//       &:hover{

//       }
//       &:active{
        
//       }
//     }
//   }
//   &.gio-btn-without-bg{

//   }
// }


.gio-btn-wrapper {
  display: inline-block;
  padding: 1px;
  margin-top: -1px;
}
.gio-btn.disabled{
  background-color: #F2F2F2;
  opacity: 0.6;
  &:hover{
    background-color: #f7f7f7;
    border-color: #d9d9d9;
  }
}
.gio-btn{
  &.gio-btn-border {
    background-color: #fff;
    border-color: #ebebeb;
    &:disabled {
      border-color: #ebebeb;

      &:hover {
        border-color: #ebebeb;
      }
    }

    &:hover {
      color: #220968;
      border-color: #220968;
    }

    &:focus,
    &:active {
      border-color: #220968;
      color: #220968;
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    }
  }
}
.gio-btn {
  &.gio-btn-label {
    color: #5c5c5c;
    background-color: #fff;
    border: 1px solid #fff;
  }
}
.gio-btn.gio-btn-with-bg, .gio-btn.gio-btn-with-bg:focus {
  font-weight: normal;
  border-radius: 2px;
  background-color: #7f7583;
  color: #FFF;
  border: none;
  &.long {
    padding-left: 23px;
    padding-right: 23px;
  }
  &:hover {
    background-color: #887D8C;
    color: #FFF;
  }
  &.rounded {
    border-radius: 15px;
  }
  .gio-icon {
    fill: currentColor;
    vertical-align: -2px;
    path {
      fill: currentColor;
    }
  }
  &.gio-btn-primary {
    color: #fff;
    background-color: #f48267;
    &.undisabled {
      &:hover {
        background-color: #fa7355;
      }
      &:active {
        background-color: #e66649;
      }
    }
  }
  &.gio-btn-secondary {
    color: #fff;
    background-color: #7F7585;
    &.undisabled {
      &:hover {
        background-color: #7F7585;
      }
      &:active {
        background-color: #7F7585;
      }
    }
  }
  &.gio-btn-gray {
    color: @color-font-gray;
    background-color: #fafafa;
    border: 1px solid #f2f2f2;
    &.disabled {
      border-color: @color-gray;

      &:hover {
        border-color: @color-gray;
      }
    }
    &.undisabled {
      &:hover {
        color: @color-font-gray;
        border: 1px solid #ebebeb;
        background-color: #ebebeb;
      }
      &:active {
        background-color: @color-gray;
      }
    }
  }
  &.gio-btn-ghost.undisabled {
    color: rgba(0,0,0,.65);
    border: none;
    background-color: transparent;
    &:hover {
      background-color: @color-ghost-hover;
      color: @color-font-ghost-hover;
    }

    &:active {
      color: @color-font-ghost;
      background-color: @color-ghost-active;
    }
  }
  &.gio-btn-blue {
    color: @color-font-blue;
    background-color: @color-blue;
    &.undisabled {
      &:hover {
        color: @color-font-blue-hover;
        background-color: @color-blue-hover;
      }
      &:active {
        background-color: @color-blue-active;
      }
    }
  }
  &.gio-btn-royalblue {
    color: @color-font-royalblue;
    background-color: @color-royalblue;
    &.undisabled {
      &:hover {
        color: @color-font-royalblue-hover;
        background-color: @color-royalblue-hover;
      }
      &:active, &.active {
        color: #fff;
        background-color: @color-royalblue-active;
        box-shadow: 0 0 4px 0 rgba(102,102,102,0.5);
      }
    }
  }
  &.ant-btn {
    &:not([disabled]):hover {
     text-decoration: none;
    }

    &:active {
      box-shadow: none;
    }

    &.ant-btn-clicked::after {
      border: none;
      animation: none;
    }
  }
  &.disabled {
    cursor: not-allowed;
    color: #CCC;
    background-color: #F2F2F2;
  }
  &.gio-btn-ghost.disabled {
    cursor: not-allowed;
    color: #dad1e0;
    background-color: transparent;
  }
}
.gio-btn.gio-btn-without-bg {
  @light-font-color: #BBBBD5;

  user-select: none;
  display: inline;
  cursor: pointer;
  color: @light-font-color;

  .gio-circular-icon {
    color: @light-font-color;
  }

  &:hover {
    color: #220968;

    .gio-circular-icon {
      color: #220968;
    }
  }

  &:active {
    color: #7F7583;
  }

  &.disabled {
    cursor: not-allowed;
    color: @light-font-color;
    opacity: .7;

    .gio-circular-icon {
      color: @light-font-color;
    }

    .gio-icon {
      fill: currentColor;
      path {
        fill: currentColor;
      }
    }
  }
  &.gio-btn-primary {
    color: #EA6947;
  }
  &.gio-btn-primary:hover {
    color: #EF8d73;
    .gio-icon {
      fill: currentColor;
    }
  }
  &.gio-btn-primary:active {
    color: #EA6947;
  }
  .gio-icon {
    fill: currentColor;
    path {
      fill: currentColor;
    }
  }
}
